#product1 .pro-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
/*anh phai duoi 400px*/
#product1 .pro {
    width: 23%;
    height: 420px;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #cce7d0;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.02);
    margin: 15px 0;
    transition: 0.2s ease;
}

#product1 .pro:hover {
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
    padding: 0;
}

#product1 .pro img:hover {
    border-radius: 25px 25px 0px 0px;
}

#product1 .pro img {
    width: 100%;
    border-radius: 20px;
}
