@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div>
    <h2 class="big-title text-center">CATEGORY</h2>
    <div class="row">
        <div class="col card card-body bg-transparent">
            <ul class="list-unstyled mb-0 py-3 pt-md-1 ms-3">
                <li class="mb-1">
                    <button class="btn d-inline-flex align-items-center rounded fw-bold" data-bs-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">Category 1</button>
                    <div class="collapse multi-collapse" id="multiCollapseExample1">
                    <ul class="list-unstyled fw-normal pb-1 ps-4 small">
                        <li>
                             <a>item 1</a>
                         </li >
                        <li>
                             <a>item 2</a>
                         </li>
                        <li>
                             <a>item 3</a>
                         </li>
                        <li>
                             <a>item 4</a>
                         </li>
                    </ul>
                </div>
                </li>
                <li class="mb-1">
                    <button class="btn d-inline-flex align-items-center rounded fw-bold" data-bs-toggle="collapse" href="#multiCollapseExample2" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">Category 2</button>
                    <div class="collapse multi-collapse" id="multiCollapseExample2">
                    <div class="">
                        <ul class="list-unstyled fw-normal pb-1 ps-4 small">
                            <li>
                                <a>item 1</a>
                            </li>
                            <li>
                                <a>item 2</a>
                            </li>
                            <li>
                                <a>item 3</a>
                            </li>
                            <li>
                                <a>item 4</a>
                            </li>
                            <li>
                                <a>item 5</a>
                            </li>
                        </ul>
                    </div>
                </div>
                </li>
            </ul>
        </div>
    </div>
    <h2 class="big-title text-center">PRICE RANGE</h2>
    <div class="row">
        
    </div>
</div>