@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div>
    <h2 class="big-title text-center">CATEGORY</h2>
    <div class="row">
        <div class="col card card-body bg-transparent">
            <ul class="list-unstyled mb-0 py-3 pt-md-1 ms-3">
                <li class="mb-1">
                    <button class="btn d-inline-flex align-items-center rounded fw-bold" data-bs-toggle="collapse" href="#category1" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">Nam</button>
                    <div class="collapse multi-collapse" id="category1">
                    <ul class="list-unstyled fw-normal pb-1 ps-4 small">
                        <li>
                             <a>Áo thun nam</a>
                         </li >
                        <li>
                             <a>Áo sơ mi nam</a>
                         </li>
                         <li>
                             <a>Áo khoác nam</a>
                         </li>
                        <li>
                             <a>Quần jean nam</a>
                         </li>
                        <li>
                             <a>Quần kaki nam</a>
                         </li>
                         <li>
                             <a>Quần vải nam</a>
                         </li>
                    </ul>
                </div>
                </li>
                <li class="mb-1">
                    <button class="btn d-inline-flex align-items-center rounded fw-bold" data-bs-toggle="collapse" href="#category2" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">Nữ</button>
                    <div class="collapse multi-collapse" id="category2">
                    <div class="">
                        <ul class="list-unstyled fw-normal pb-1 ps-4 small">
                            <li>
                                <a>Áo thun nữ</a>
                            </li>
                            <li>
                                <a>Áo sơ mi nữ</a>
                            </li>
                            <li>
                                <a>Áo khoác nữ</a>
                            </li>
                            <li>
                                <a>Quần jean nữ</a>
                            </li>
                            <li>
                                <a>Quần kaki nữ</a>
                            </li>
                            <li>
                                <a>Quần vải nữ</a>
                            </li>
                            <li>
                                <a>Chân váy</a>
                            </li>
                            <li>
                                <a>Đầm nữ</a>
                            </li>
                        </ul>
                    </div>
                </div>
                </li>
                <li class="mb-1">
                    <button class="btn d-inline-flex align-items-center rounded fw-bold" data-bs-toggle="collapse" href="#category3" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">Phụ kiện</button>
                    <div class="collapse multi-collapse" id="category3">
                    <div class="">
                        <ul class="list-unstyled fw-normal pb-1 ps-4 small">
                            <li>
                                <a>Mũ/Nón</a>
                            </li>
                            <li>
                                <a>Túi/Balo</a>
                            </li>
                            <li>
                                <a>Thắt lưng</a>
                            </li>
                            <li>
                                <a>Đồ lót</a>
                            </li>
                            <li>
                                <a>Vớ</a>
                            </li>
                            <li>
                                <a>Ví</a>
                            </li>
                            <li>
                                <a>Giày dép</a>
                            </li>
                            <li>
                                <a>Đồng hồ</a>
                            </li>
                        </ul>
                    </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <h2 class="big-title text-center">PRICE RANGE</h2>
    <div class="row">
        
    </div>
</div>